body::before{
        display: block;
        content: '';
        height: 10px;
}
#event-card:hover{
    transform: translateY(-10px);
    
}
#event-card{
    transition-duration: 300ms;
}
#navbar:hover{
    text-decoration: underline;
    
}
#navbar{
    transition-duration: 300ms;
}
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
#image{
  width: 50%;
}



section {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

#image {
  width: 50%;
}


